.credential-form {
    display: flex;
    flex-direction: column;

    max-width: 560px;
    width: 100%;

    padding: 12px;
    gap: 12px;

    backdrop-filter: blur(8px);
    // background-color: #00000080;
    border: 2px solid var(--accent);
    border-radius: 4px;

    .form-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 8px 6px;
        gap: 8px;

        .password-input, .username-input {
            width: 100%;
            
            padding: 4px 6px;

            background-color: transparent;

            border: 1px solid var(--surface-6);
            border-radius: 4px;
            outline: none;

            color: var(--text-input);
            font-size: 16px;

            &:focus {
                border: 1px solid var(--border-light);
            }

            &::placeholder {
                color: var(--text-placeholder);
            }
        }

        .registration-code-input {
            width: 90%;

            margin: 8px 0;
            padding: 4px 6px;

            background-color: transparent;

            border: none;
            border-bottom: 1px solid var(--surface-6);
            outline: none;

            color: var(--text-input);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 16px;
            letter-spacing: 1px;

            &:focus {
                border-bottom: 1px solid var(--border-light);
            }

            &::before, &::after {
                width: 1em;
                height: 1em;
                color: var(--text-input);
            }

            &::before { content: "<"; }
            &::after { content: ">"; }
        }

        .submit-input {
            width: 90%;
            max-width: 380px;

            margin: 1.2em 0;
            padding: 4px 16px;

            background-color: transparent;
            border: 1px solid var(--border-light);
            border-radius: 1em;

            color: var(--text-input);
            font-size: 18px;

            cursor: pointer;
            transition: all 0.1s ease-in-out;

            &:hover {
                background-color: var(--page-fg);

                color: var(--page-bg);
            }
        }
    }

    .form-bottom {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;

        .other-auth-redirect {
            display: flex;
            justify-content: center;
            align-items: center;

            width: fit-content;

            padding: 2px 12px;
            gap: 8px;

            border: 1px solid var(--border-light);
            border-radius: 1em;
            
            color: var(--text-input);
            font-size: 14px;
            text-decoration: none;

            transition: all 0.1s ease-in-out;


            &::after {
                content: "▷";

                width: fit-content;
            }

            &:hover {
                background-color: var(--page-fg);

                color: var(--page-bg);

                &::after { 
                    content: "▶";
                }
            }
        }

        p.birka {
            display: flex;
            align-items: center;

            width: fit-content;

            padding: 4px 8px;
            margin-left: auto;

            border-top: 1px solid var(--accent-muted);
            border-bottom: 1px solid var(--accent-muted);

            color: var(--accent-muted);
            text-transform: uppercase;
        }
        img.birka {
            height: 32px;
            margin-left: auto;
            object-fit: contain;
        }
    }
}
