nav {
    display: flex;
    flex-wrap: nowrap;

    width: 100%;

    background-color: var(--surface-1);
}

nav > a,
nav > button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 6px 8px;
    
    color: var(--page-fg);
    font-size: 16px;
    text-decoration: none;
    user-select: none;

    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        background-color: var(--accent);
        color: var(--accent-fg);
    }
}

nav > a.sensym-button {
    text-transform: uppercase;
}
nav > a.sensym-button:hover::before {
    border-color: transparent;
}
nav > a.sensym-button::before {
    display: inline-flex;
    content: url("/assets/logo.png");

    margin-right: 4px;
    padding: 2px;

    aspect-ratio: 1;
    height: 1.2em;

    background-color: var(--surface-7);
    border: 1px solid var(--accent);
    border-radius: 1em;
}

nav .spacer { flex: 1; }

nav > button.theme-toggle-button {
    text-transform: uppercase;
}

nav > a.profile-button {
    text-transform: capitalize;

    padding: 0 8px;
    gap: 8px;

    .profile-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        aspect-ratio: 1;
        height: 1.2em;

        font-family: "JetBrains Mono", monospace;
    }
}
