<!DOCTYPE html>
<html lang="en">
<%- include("../Components/_head")%>
<body>
    <%- include('../Components/navabar') %>
    
    <main>
        <form class="new_sensor_form" action="/api/newSensor">
            <p class="form_title">Add a new sensor</p>

            <p class="input_label">Name</p>
            <input type="text" name="sensor_name" placeholder="..."/>

            <input type="submit" value="Add" />
        </form>
    </main>
</body>
</html>