<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (typeof title !== 'undefined') ? title : "Sensym" %></title>
    
    <link rel="stylesheet" href="/css/global.css">
    <% if (typeof styles !== 'undefined' && styles.length) { %>
        <% styles.forEach(href => { %>
        <link rel="stylesheet" href="/css/<%= href %>">
        <% }) %>
    <% } %>
</head>