<nav>
    <a class="sensym-button" href="/">Sensym</a>
    <a href="/sensors">Sensors</a>
    <a href="/data">Data</a>
    <a href="/analytics">Analytics</a>

    <div class="spacer"></div>

    <a class="profile-button" href="/profile">Profile</a>
</nav>