<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensym</title>
    
    <link rel="stylesheet" href="/css/global.css">
    <% if (typeof styles !== 'undefined' && styles.length) { %>
        <% styles.forEach(href => { %>
        <link rel="stylesheet" href="/css/<%= href %>">
        <% }) %>
    <% } %>
</head>
<body>
    <%- include('./Components/navabar') %>

    <div class="main">
        <h1>sure</h1>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Fbeach-sea-coast-water-sand-ocean-horizon-cloud-sunrise-sunset-sunlight-morning-shore-wave-dawn-coastline-shoreline-dusk-evening-reflection-scenic-tropical-bay-hawaii-seashore-body-of-water-outdoors-cape-kauai-wind-wave-564900.jpg">
    </div>
</body>
</html>