<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensym Login</title>

    <link rel="stylesheet" href="/css/global.css">
    <% if (typeof styles !== 'undefined') { %>
        <% styles.forEach(href => { %>
        <link rel="stylesheet" href="/css/<%= href %>">
        <% }) %>
    <% } %>
</head>
<body>
    <form class="credential-form login" method="post">
        <h2 class="title">Login</h2>

        <input type="text" placeholder="username" name="user">
        <input type="password" placeholder="password" name="pass">

        <p class="birka">Sensym</p>

        <input type="hidden" name="csrf_token" value="">
    </form>
</body>
</html>