<!DOCTYPE html>
<html lang="en">
<%- include("Components/_head")%>
<body>
    <div class="slash-bar"></div>
    <div class="main">
        <div class="info">
            <h1>ERROR_</h1>
            <h2>Type<span class="type"><%= (typeof type !== 'undefined') ? type : "unknown"%></span></h2>
            <p class="msg"><%= message %></p>
            <a href="/"><img class="home" src="/graphics/house.svg"></a>
        </div>
        <div class="alerts">
            <img class="alert" src="/graphics/alert.svg">
        </div>
    </div>
    <div class="slash-bar"></div>
</body>
</html>