@charset "UTF-8";
.credential-form {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
  padding: 12px;
  gap: 12px;
  backdrop-filter: blur(8px);
  border: 2px solid var(--accent);
  border-radius: 4px;
}
.credential-form .form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 6px;
  gap: 8px;
}
.credential-form .form-inputs .password-input, .credential-form .form-inputs .username-input {
  width: 100%;
  padding: 4px 6px;
  background-color: transparent;
  border: 1px solid var(--surface-6);
  border-radius: 4px;
  outline: none;
  color: var(--text-input);
  font-size: 16px;
}
.credential-form .form-inputs .password-input:focus, .credential-form .form-inputs .username-input:focus {
  border: 1px solid var(--border-light);
}
.credential-form .form-inputs .password-input::placeholder, .credential-form .form-inputs .username-input::placeholder {
  color: var(--text-placeholder);
}
.credential-form .form-inputs .registration-code-input {
  width: 90%;
  margin: 8px 0;
  padding: 4px 6px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--surface-6);
  outline: none;
  color: var(--text-input);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}
.credential-form .form-inputs .registration-code-input:focus {
  border-bottom: 1px solid var(--border-light);
}
.credential-form .form-inputs .registration-code-input::before, .credential-form .form-inputs .registration-code-input::after {
  width: 1em;
  height: 1em;
  color: var(--text-input);
}
.credential-form .form-inputs .registration-code-input::before {
  content: "<";
}
.credential-form .form-inputs .registration-code-input::after {
  content: ">";
}
.credential-form .form-inputs .submit-input {
  width: 90%;
  max-width: 380px;
  margin: 1.2em 0;
  padding: 4px 16px;
  background-color: transparent;
  border: 1px solid var(--border-light);
  border-radius: 1em;
  color: var(--text-input);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.credential-form .form-inputs .submit-input:hover {
  background-color: var(--page-fg);
  color: var(--page-bg);
}
.credential-form .form-bottom {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.credential-form .form-bottom .other-auth-redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 2px 12px;
  gap: 8px;
  border: 1px solid var(--border-light);
  border-radius: 1em;
  color: var(--text-input);
  font-size: 14px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.credential-form .form-bottom .other-auth-redirect::after {
  content: "▷";
  width: fit-content;
}
.credential-form .form-bottom .other-auth-redirect:hover {
  background-color: var(--page-fg);
  color: var(--page-bg);
}
.credential-form .form-bottom .other-auth-redirect:hover::after {
  content: "▶";
}
.credential-form .form-bottom p.birka {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 4px 8px;
  margin-left: auto;
  border-top: 1px solid var(--accent-muted);
  border-bottom: 1px solid var(--accent-muted);
  color: var(--accent-muted);
  text-transform: uppercase;
}
.credential-form .form-bottom img.birka {
  height: 32px;
  margin-left: auto;
  object-fit: contain;
}

body {
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: radial-gradient(var(--accent) 2px, transparent 1px) repeat, var(--page-bg);
  background-size: 4em 4em;
  animation: slide 8s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 16em 16em;
  }
}
.infobox {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 560px;
  width: 100%;
  min-height: 76px;
  padding: 12px;
  padding: 8px 16px;
  backdrop-filter: blur(8px);
  border-radius: 4px;
  color: var(--page-fg);
  font-size: 18px;
}

.infobox.info {
  position: relative;
  box-shadow: 0 0 16px -2px var(--info) inset;
  color: var(--info);
}

.infobox.warning {
  position: relative;
  box-shadow: 0 0 16px -2px var(--warning) inset;
  color: var(--warning);
}

.infobox.error {
  position: relative;
  box-shadow: 0 0 16px -2px var(--auth-error) inset;
  color: var(--auth-error);
}

.auth-theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 2px 12px;
  margin-left: 8px;
  gap: 8px;
  background: transparent;
  border: 1px solid var(--border-light);
  border-radius: 1em;
  color: var(--text-input);
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.auth-theme-toggle:hover {
  background-color: var(--page-fg);
  color: var(--page-bg);
}

/*# sourceMappingURL=auth_pages.css.map */
