#add_sensors_btn {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 48px;
  aspect-ratio: 1;
  padding: 8px;
  background-color: var(--surface-7);
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
#add_sensors_btn:hover {
  background-color: var(--surface-hover);
  box-shadow: 0 0 12px -6px var(--shadow-dark);
  border-radius: 24px;
}
#add_sensors_btn img {
  width: 100%;
  object-fit: contain;
}

#add_sensor_window {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  gap: 24px;
  background-color: var(--overlay-bg);
}
#add_sensor_window form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  background-color: var(--surface-3);
  border-radius: 12px;
}
#add_sensor_window form input, #add_sensor_window form select {
  padding: 4px 6px;
  background-color: transparent;
  border: 1px solid var(--border-strong);
  border-radius: 4px;
  color: var(--text-input);
}
#add_sensor_window form input[type=submit] {
  cursor: pointer;
}
#add_sensor_window form #registration-token-output {
  min-height: 1.2em;
  font-family: "JetBrains Mono", monospace;
  word-break: break-all;
}

.new_sensor_form {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 720px;
  width: 100%;
  height: max-content;
  padding: 16px;
  gap: 24px;
  background-color: var(--surface-2);
  border-radius: 6px;
}
.new_sensor_form .form_title {
  grid-column: 1/-1;
  margin: auto;
  font-size: 20px;
}
.new_sensor_form .input_label {
  font-size: 18px;
  color: var(--accent-muted);
}
.new_sensor_form input {
  width: 100%;
  padding: 4px 6px;
  background-color: transparent;
  border: 1px solid var(--surface-6);
  border-radius: 4px;
  outline: none;
  color: var(--text-input);
  font-size: 16px;
}
.new_sensor_form input:focus {
  border: 1px solid var(--border-light);
}
.new_sensor_form input::placeholder {
  color: var(--text-placeholder);
}
.new_sensor_form input[type=submit] {
  grid-column: 1/-1;
  max-width: 320px;
  width: 90%;
  margin: auto;
  padding: 4px 16px;
  border-radius: 100px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid var(--border-light);
  border-radius: 1em;
  color: var(--text-input);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.new_sensor_form input[type=submit]:hover {
  background-color: var(--page-fg);
  color: var(--page-bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  gap: 12px;
  overflow: hidden;
}

.filters {
  display: flex;
  min-height: 1em;
  height: max-content;
  max-width: 1440px;
  width: 100%;
  padding: 16px 24px;
  gap: 16px;
  background-color: var(--surface-2);
  border-radius: 6px;
}

.sensor-list-holder {
  display: flex;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: var(--surface-2);
  border-radius: 6px;
  overflow: hidden;
}
.sensor-list-holder .sensor-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  width: 100%;
  height: 100%;
  gap: 16px;
  overflow: auto;
  scrollbar-width: thin;
}
.sensor-list-holder .sensor-list .sensor {
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 100%;
  gap: 8px;
  background-color: var(--surface-6);
  border-radius: 8px;
  color: var(--page-fg);
  text-decoration: none;
  overflow: hidden;
}
.sensor-list-holder .sensor-list .sensor:hover {
  background-color: var(--surface-5);
  box-shadow: 0 0 16px -4px var(--shadow-dark);
}
.sensor-list-holder .sensor-list .sensor .sensor-name {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  gap: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}
.sensor-list-holder .sensor-list .sensor .sensor-name .sensor-icon {
  color: var(--accent);
  font-family: "JetBrains Mono", monospace;
  font-size: 1.2em;
  text-shadow: 0 0 1px var(--shadow-dark);
}
.sensor-list-holder .sensor-list .sensor .sensor-data-type {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
  gap: 8px;
  background-color: var(--surface-4);
}
.sensor-list-holder .sensor-list .sensor .sensor-data-type .type-label {
  color: var(--text-soft);
  font-size: 14px;
  font-weight: bold;
}

/*# sourceMappingURL=sensors_page.css.map */
