main {
    display: flex;
    justify-content: center;
    
    padding: 8px;

    overflow: auto;
}

table {
    table-layout: auto;
    
    max-width: 1080px;
    min-width: min-content;
    width: 100%;

    tr:nth-child(odd) {
        background-color: #333;
    }
    tr:nth-child(1) {
        background-color: transparent;
    }
    
    &, th {
        border: 2px solid #555;
        border-collapse: collapse;
    }
    td {
        padding: 2px 4px;

        border: 1px solid #555;

        text-wrap: nowrap;
    }
}