nav {
    display: flex;
    flex-wrap: nowrap;

    width: 100%;

    background-color: #191919;
}

nav > a {
    display: flex;
    justify-content: center;
    padding: 4px 8px;
    
    color: #eee;
    font-size: 16px;
    text-decoration: none;

    &:hover {
        background-color: cornflowerblue;
        color: #000;
    }
}

nav > a.sensym-button {
    text-transform: uppercase;
}

nav > a.sensym-button:hover nav > a.sensym-button::before {
    filter: drop-shadow(0 0 5px #000);
}

nav > a.sensym-button::before {
    display: inline-flex;
    content: url("/assets/logo.png");

    margin-right: 4px;

    aspect-ratio: 1;
    height: 1.2em;

    filter: drop-shadow(0 0 5px #000);
}

nav > a.profile-button::before {
    content: "O";
}

nav .spacer { flex: 1; }