main {
    display: flex;
    justify-content: center;
    
    padding: 8px;
}

table {
    table-layout: auto;
    
    max-width: 1080px;
    width: 100%;

    tr:not(:first-child):nth-child(odd) {
        background-color: #333;
    }

    td {
        padding: 1px;
    }
}

table, table th {
    border: 2px solid #555;
    border-collapse: collapse;
}
table td {
    border: 1px solid #555;
}
