@use "navbar";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: #222;
    background-size: 100% 100%;
    
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 480px;
}


