<!DOCTYPE html>
<html lang="en">
<%- include("../Components/_head")%>
<body>
    <%- include("../Components/navabar") %>

    <div><%- include("./_add_analytics_form") %></div>
    <main>

    </main>
</body>
</html>