<!DOCTYPE html>
<html lang="en">
<%- include("../Components/_head")%>
<body>
    <%- include("../Components/navabar") %>
    
    <main>
        <div class="analytics_action_bar">
            <div class="analytics_filters"></div>
            <div class="new_analytic_form_holder"><%- include("./_add_analytics_form") %></div>
        </div>
        
        <div class="analytics-list">
            </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</body>
</html>