<!DOCTYPE html>
<html lang="en">
<%- include("../Components/_head")%>
<body>
    <form class="credential-form register" action="/register" method="post">
        <h2 class="title">Registration</h2>

        <div class="form-inputs">
            <input class="username-input" type="text" placeholder="username" name="user">
            <input class="password-input" type="password" placeholder="password" name="pass">

            <input class="registration-code-input" type="text" placeholder="Registration code" name="registration_code" value="<%= url_registration_code %>">

            <input class="submit-input" type="submit" value="Register">
        </div>

        <div class="form-bottom">
            <a class="other-auth-redirect" href="/login">Log In</a>
            <<p class="birka">Sensym</p>>
        </div>

        <input type="hidden" name="csrf_token" value="">
    </form>
</body>
</html>